{{ define "main" }}
{{ .Scratch.Set "scope" "list" }}
{{ $term := .Data.Term }}
{{ $tocPage := .Site.GetPage (printf "/publications/%s" ($term | urlize)) }}

<header class="mt-5">
  {{ if .Params.showBreadcrumbs | default (site.Params.term.showBreadcrumbs | default false) }}
  {{ partial "breadcrumbs.html" . }}
  {{ end }}
  <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
    {{ replace $term "-" " " | title }}
  </h1>
</header>

{{ $stories := sort (where .Data.Pages "Type" "stories") "Title" "asc" }}
{{ $authors := sort (where .Data.Pages "Type" "authors") "Title" "asc" }}
{{ $publications := sort (where .Data.Pages "Type" "publications") "Title" "asc" }}

{{ if or $tocPage (gt (len $publications) 0) (gt (len $stories) 0) (gt (len $authors) 0) }}
<section class="mt-8">
  <div class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">

    {{ if $tocPage }}
    <article class="article-link--card relative overflow-hidden rounded-lg border border-neutral-300 dark:border-neutral-600">
      <div class="p-4">
        <header>
          <a href="{{ $tocPage.RelPermalink }}"
             class="not-prose before:absolute before:inset-0 decoration-primary-500 dark:text-neutral text-xl font-bold text-neutral-800 hover:underline hover:underline-offset-2">
            <h2>Table of Contents</h2>
          </a>
        </header>
        <div class="text-sm text-neutral-500 dark:text-neutral-400">
          {{ partial "article-meta/basic.html" (dict "context" $tocPage "scope" "list") }}
        </div>
      </div>
    </article>
    {{ end }}

    {{ range $publications }}{{ partial "article-link/card.html" . }}{{ end }}
    {{ range $stories }}{{ partial "article-link/card.html" . }}{{ end }}
    {{ range $authors }}{{ partial "article-link/card.html" . }}{{ end }}

  </div>
</section>
{{ end }}

{{ partial "pagination.html" . }}
{{ end }}