{{ define "main" }}
{{ $term := .Data.Term }}
{{ $authorPage := .Site.GetPage (printf "/authors/%s" $term) }}

<header class="mt-5">
  {{ if .Params.showBreadcrumbs | default (site.Params.term.showBreadcrumbs | default false) }}
    {{ partial "breadcrumbs.html" . }}
  {{ end }}
  <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
    {{ replace $term "-" " " | title }}
  </h1>
</header>

{{ $stories := slice }}
{{ $publications := slice }}
{{ range .Data.Pages }}
  {{ if eq .Type "stories" }}
    {{ $stories = $stories | append . }}
  {{ else if eq .Type "publications" }}
    {{ $publications = $publications | append . }}
  {{ end }}
{{ end }}

<section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">

  {{ if $authorPage }}
    <article class="article-link--card relative min-h-full min-w-full overflow-hidden rounded-lg border border-neutral-300 dark:border-neutral-600">
      <div class="p-4">
        <header>
          <a href="{{ $authorPage.RelPermalink }}"
             class="not-prose before:absolute before:inset-0 decoration-primary-500 dark:text-neutral text-xl font-bold text-neutral-800 hover:underline hover:underline-offset-2">
            <h2>{{ $authorPage.Title | emojify }}</h2>
          </a>
        </header>
        <div class="text-sm text-neutral-500 dark:text-neutral-400">Author</div>
        {{ if $authorPage.Summary }}
          <div class="article-link__summary prose dark:prose-invert mt-1 line-clamp-5">
            {{ $authorPage.Summary | plainify }}
          </div>
        {{ end }}
      </div>
      <div class="px-6 pt-4 pb-2"></div>
    </article>
  {{ end }}

  {{ range $publications }}
    {{ partial "article-link/card.html" (dict "Page" . "Scratch" $.Scratch) }}
  {{ end }}

  {{ range $stories }}
    {{ partial "article-link/card.html" (dict "Page" . "Scratch" $.Scratch) }}
  {{ end }}

</section>

{{ if and (eq (len $stories) 0) (eq (len $publications) 0) (not $authorPage) }}
  <section class="prose dark:prose-invert mt-10">
    <p class="py-8 border-t"><em>No linked content found.</em></p>
  </section>
{{ end }}

{{ partial "pagination.html" . }}
{{ end }}
