@font-face {
    font-family: "EBGaramond";
    src: url(/fonts/EBGaramond-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: "EBGaramond";
    font-weight: bold;
    src: url(/fonts/EBGaramond-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: "EBGaramond";
    font-style: italic;
    src: url(/fonts/EBGaramond-Italic-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: "EBGaramond";
    font-weight: bold;
    font-style: italic;
    src: url(/fonts/EBGaramond-Italic-VariableFont_wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: "Comfortaa";
    font-weight: bold;
    src: url(/fonts/Comfortaa-Bold.ttf);
    font-display: swap;
}

html {
    font-family: EBGaramond, serif;
    font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Comfortaa, sans-serif;
}

h1 {
    font-size: 2.1rem;
    line-height: 210%;
}

h2 {
    font-size: 1.7rem;
    line-height: 170%;
}

h3 {
    font-size: 1.4rem;
    line-height: 140%;
}

h4 {
    font-size: 1.2rem;
    line-height: 120%;
}

h5 {
    font-size: 1.1rem;
    line-height: 110%;
}

h6 {
    font-size: 1.0rem;
    line-height: 100%;
}

.image-float-left {
    float: left;
    margin: 0.25em 0.75em 0 0;
}
